.menu-bar{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: blue;
}
.menu-bar h3{
display: inline;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.Menu{
    display: flex;
}
.half-div{
    width: 50%;
    padding-left: 7%;
}

h1{
    font-size: 50px;
    font-weight: 800;
}
h2{
    font-size: 40px;
    color: grey;
}
a{
    text-decoration: none;
}
p{
    padding-top: 10px;
    padding-bottom: 15px;
}
.button{
width: 200px;
background-color: blue;
background-image: linear-gradient(blue,cyan);
padding: 12px 50px;
border-radius: 50px;
font-weight: bold;
color: white;
}
.color-change{
color: goldenrod;
}
.about{
    display: flex;
    background-image: url(img/bg1.png);
    background-repeat: no-repeat;
    
}
.about .half-div{
    width: 50%;
}
.about-right{
    margin-right: 20px;
}
.about image{
    width: 100%;
}
.recipies{
    padding-left: 5%;
    padding-right: 5%;
}
.recipies_text{
    text-align: center;
}
.recipies-div{
display: flex;
}
.recipies-part {
    width: 33.33%;
    padding: 1%;
    text-align: left;
    background-color: white;
    margin: 25px;
    box-shadow: 5px 5px 20px gray;
    border: 10px white;
    border-radius: 15px;
    
   
}
.recipies-part img{
    width: 100%;
   
}
.follower{
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
    
}
.follower-class{
    display: flex;
    border-radius: 10px;

    /* text-align: center; */

    background-color: white;
    margin: 25px;
    box-shadow: 5px 5px 20px gray;
    border-radius: 15px;

    

}
.follow{
    padding: 5%;
    
    text-align: center;
    width: 33%;
   
}
/* .footer{
height: 100px;
background-color:black;
}
.footer p h4{
text-align: center;
margin: auto;
} */
.last-part{
    height: 200px;
    background-color: black;
    color:white;
    margin: 0;
    padding: 40px 60px;
    text-align: center;
    
}